
.step {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  min-height: 2rem;
  min-width: 2rem;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  transition: .2s ease;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.step:hover {
  cursor: pointer;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid cyan;
}

.default:hover{
  background: none;
}

.stepSelected:hover {
  opacity: 1;
  background: cyan;
}

.stepMarker {
  background: rgba(0, 0, 0, 0.1);
}

.stepActive {
  border-bottom: 5px solid rgb(60, 60, 60);
}

.stepSelected {
  background: cyan;
}

