.settingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.setting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}

input {
  display: flex;
  width: 4rem;
  font-size: 1.2rem;
  border-radius: .5rem;
  padding: .25rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  margin: 0 1rem;
}


input[type=text] {
  width: 80%;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 0;
  border: none;
  background: none;
  color: white;
  text-align: center;
  font-weight: bold;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
}
.inputfile:focus + label,
.inputfile + label:hover {
  opacity: 1;
}


p {
  font-size: 1.3rem;
  font-family: 'Arial';
  margin: 0;
}

/* BPM Indicator */
.bpmGrid {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 1rem;
}

/* Instrument */
.instrumentGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 10rem;
  margin: 0;
}

.default {
  background: rgba(0, 0, 0, 0.1);
  width: 5rem;
  border: none;
}

.empty {
  background: none;
  border: none;
}

/* Add New Instrument */
.addNewInstrument {
  display: flex;
  width: 100%;
  min-height: 10rem;
  flex-direction: row;
  opacity: 0.1;
  transition: 0.2s ease;
}

.addNewInstrument:hover {
  opacity: 0.7;
  transition: 0.2s ease;
  cursor: pointer;
}


.addInstrument {
  filter: blur(2px);
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  min-height: 4rem;
}

.emptyStep {
  flex-grow: 1;
  min-width: 5rem;
  background: rgba(0, 0, 0, 0.52);
}

.emptyStep * {
  display: flex;
  flex-direction: column;
  font-size: 3.6rem;
  text-align: center;
  margin-top: 3rem;
  width: 100%;
  justify-self: center;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  justify-content: space-between;
  min-width: 5rem;
  align-items: center;
}

.row button {
  opacity: 0.5;
}

.row button:active {
  opacity: 0.5;
}

.row button:hover {
  opacity: 1;
}

.buttonRemove {
  background: none;
}
