
.stepsGrid {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 10rem;
  background: rgba(0, 0, 0, 0.5);
}

.edit {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  justify-content: space-evenly;
}
